[run]
branch = True
source = risclog.sqlalchemy

[report]
precision = 2
omit = */interfaces.py
       */interfaces/*
       */tests.py
       */tests/*
fail_under = 77

[html]
directory = coverage-report
