*.egg-info
*.pyc
.Python
.cache/v/cache/lastfailed
.coverage
.installed.cfg
.tags
.tox
__pycache__
bin
build
coverage-report
coverage.xml
develop-eggs
dist
doc
doc/_api
eggs
include
lib
local.cfg
parts
testreport.xml
.appenv
