include *.rst

include .coveragerc
exclude .coveragerc

include buildout.cfg
exclude buildout.cfg

include pytest.ini
exclude pytest.ini

include tox.ini
exclude tox.ini

exclude MANIFEST.in

recursive-include doc *.py
recursive-include doc *.txt
recursive-include src *.mako
recursive-include src *.py
