include *.rst
include *.txt

include .coveragerc
exclude .coveragerc

include buildout.cfg
exclude buildout.cfg

include pytest.ini
exclude pytest.ini

include tox.ini
exclude tox.ini

include .pre-commit-config.yaml
exclude .pre-commit-config.yaml

exclude MANIFEST.in

recursive-include doc *.py
recursive-include doc *.txt
recursive-include src *.mako
recursive-include src *.py

exclude *.lock
exclude .isort.cfg
exclude appenv
exclude pytest
